.container {
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    /*text-align: center; */
}
#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}
